# --- Python Specific ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints/

# --- Secrets & Environment ---
.env
.env.secret
secret_key.py
backend_client.py
test_db.py

# --- Databases & Local Assets ---

uploads/*
!uploads/dummy.csv
uploads/ML-P7-Social_Network_Ads.csv

# --- Editor & OS Specific ---
.vscode/
.idea/
.DS_Store
thumbs.db
desktop.ini

# --- Streamlit & Visualization ---
.streamlit/